.fm {
  width: 60% ;
  margin: 40px auto ;
  display: flex ;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.input {
  width: 500px;
  min-height: 30px;
  border-radius: 7px ;
  padding: 5px 15px; 
  background-image: linear-gradient(to bottom, #68e3f9, #60dff7, #57dcf4, #4ed8f2, #43d5f0);
  border: 2px solid #24abc3 ;
  font-size: 20px ;
}

.input:focus {
  outline: none;
  border: 2px solid #a8eaf5 ;
}

.fset{
  border: none ;
}